.headline {
  padding: 230px 0;
  text-align: center;
  background-image: linear-gradient(0deg,
      rgba(252, 227, 138, 0.9),
      rgba(243, 129, 129, 0.9)),
    url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;


  &_subject {
    font-size: 72px;
    font-family: $third-font;
    color: $main-text-color;
    line-height: 1.2;
    margin-bottom: 50px;
  }

  &_slogan {

    @extend %headline-set;
    font-size: 150px;
    font-family: $main-font;
    color: $main-text-color;
    line-height: 0.9;
    margin-bottom: 100px;

    &-part {
      display: block;
    }
  }

  &_btn {
    font-size: 14px;
    font-family: $main-font;
    color: $main-text-color;
    @extend %headline-set;
    line-height: 1.2;
    width: 164px;
    height: 44px;
    border: 3px solid $main-text-color;
    background-color: rgba(0, 0, 0, 0);

    &:hover {
      color: $main-text-color;
      background-color: rgba(243, 129, 129, 0.9);
      -webkit-box-shadow: 2px 2px 2px rgba(85, 77, 46, 0.9);
      box-shadow: 2px 2px 2px rgba(85, 77, 46, 0.9);
      border: none;


    }
  }

  @media (min-resolution: 192dpi) {

    background-image: linear-gradient(0deg,
        rgba(252, 227, 138, 0.9),
        rgba(243, 129, 129, 0.9)),
      url(../images/banner@2x.jpg);
  }
}
