$main-font: "Montserrat",
Arial,
Helvetica,
sans-serif;
$secondary-font: "Roboto",
sans-serif;
$third-font: "Kaushan Script";
$main-text-color: rgb(255, 255, 255);
$secondary-color: rgb(243, 129, 129);
$third-color: rgb(252, 227, 138);
